.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.leftSide {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.rightSide {
  height: 100%;
  border-left: 1px solid $color-border;
  position: absolute;
  left: 60%;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: rgba(#000, 0.03) -2px 0 0;
}

.content {
  padding: 20px;
}


.header {
  height: 60px;
  margin: -20px -20px 0;
  border-bottom: 1px solid $color-border;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.name {
  @include ff-opensans-bold;
  font-size: 22px;
}

.desc {
  margin-top: 15px;
  font-size: 14px;
  color: $color-f-lighter;
}

.title {
  margin-top: 15px;
  @include ff-opensans-bold;
  font-size: 16px;
}

.code {
  margin-top: 20px;
}
