.nav {
  display: block;
}

.link {
  width: $width-sidebar;
  height: $width-sidebar;
  border-top: 1px solid #1e122b;
  display: block;
  position: relative;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid #1e122b;
  }
  
  &:hover,
  &.active {

    svg {
      fill: #fff;
    }
  }

  &.active {
    background-color: #1c1821;
    cursor: default;
  }
}

.icon {
  width: 30px;
  height: 30px;
  @include absolute-centring;

  svg {
    width: 100%;
    height: 100%;
    fill: #a19ca7;
    transition: fill 0.23s ease;
  }
}
