.header {
  display: flex;
  align-items: center;
  height: $height-header;
  border-bottom: 1px solid #d5cfdb;
  position: relative;
  padding: 0 20px;
  box-shadow: 0 2px 0 rgba(#000, 0.03);

  &.spaceBetween {
    justify-content: space-between;
  }
}

.title {
  @include ff-opensans-bold;
  font-size: 22px;
}
