.card {
  position: relative;

  &.active {

    @include after {
      width: 4px;
      background-color: $color-purple;
      position: absolute;
      left: 0;
      top: 0;
      bottom: -1px;
    }
  }
}

.companyLogo {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 20px;
}

.name {
  @include ff-opensans-bold;
  font-size: 16px;
}

.desc {
  margin-top: 5px;
  font-size: 12px;
  color: $color-f-lighter;
}

.title {
  margin-top: 15px;
  @include ff-opensans-bold;
  font-size: 14px;
}
