$color-bg-header              : #1a1a1a;

$color-border-dark            : #999999;
$color-border                 : #e2dee6;

$color-main                   : #202326;
$color-brand                  : #3228ff;
$color-purple                 : #ad2cff;

$color-input-placeholder      : #babec7;


// Typography and text colors --------------------------------- /

$color-f-text                 : #202326;
$color-f-lighter              : #625471;
$color-f-light                : #b3b9c3;
$color-f-disabled             : #aaaaaa;
$color-f-brightest            : #ffffff;
$color-f-danger               : #ff0066;
