.sidebar {
  width: 60px;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.content {
  position: fixed;
  top: 0;
  left: 60px;
  right: 0;
  bottom: 0;
}